<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <% if params[:plan] == '2' %>
          <h1>Patienten-Anmeldung</h1>
          <p>Melden Sie sich mit Ihrer 10-stelligen Fallnummer an und helfen Sie uns das Eigen端bungsprogramm f端r Sie und zuk端nftige Patienten zu verbessern!</p>
        <% else %>
          <h1>Anonyme Anmeldung</h1>
          <p>Melden Sie sich hier anonym an. Sie haben den vollen Zugriff auf die Eigen端bungsvideos.</p>
        <% end %>
      </div>
      <div class="well">

        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>