<div class="container">
  <h2>Über dieses Programm</h2>
    <p> Auf dieser Homepage haben die Physio- und Sporttherapeuten Übungen zusammengestellt, die Ihnen helfen sollen, Ihre Schmerzen zu lindern und weiteren Beschwerden vorzubeugen. Bitte beachten Sie die folgenden Hinweise: </p>
    <ul>
      <li>Üben Sie aus der korrekten Ausgangsstellung heraus. Achten Sie auf die richtige Ausführung der Übung. Das Programm soll Sie darin unterstützen, die korrekte Ausführung in Erinnerung zu rufen.  Kontrollieren Sie sich zum Beispiel mit einen Spiegel.</li>
      <li>Nehmen Sie sich nach dem Klinikaufenthalt täglich Zeit für einige Übungen. Tägliches Üben über 10-15 Minuten ist effektiver als einmal pro Woche eine Stunde.</li>
      <li>Sollte es nicht anders in der Übungsbeschreibung vermerkt sein, üben Sie direkt nach dem Klinikaufenthalt zweimal am Tag mit der Dosierung: zehn Wiederholungen - 10 Sekunden Spannung / 10 Sekunden Pause</li>
      <li>Nicht jede dieser Übungen hilft jedem. Wenden Sie deshalb möglichst nur Übungen an, die von Ihrem Therapeuten empfohlen wurden</li>
  </ul>
  <p> Wir wünschen Ihnen beim Training viel Erfolg und viel Freude, Ihr Therapeutenteam</p>
  
  <h2>Gesundheitliche Voraussetzungen</h2>
    <p>Die Nutzung des Eigenübungsprogramms erfolgt auf eigenes Risiko. Voraussetzung für die Nutzung des Eigenübungsprogramms ist in jedem Fall ein guter gesundheitlicher Allgemeinzustand. Wenn Vorerkrankungen bekannt sind, empfehlen wir dringend ärztlichen Rat einzuholen, bevor mit dem Training begonnen wird. Dies gilt insbesondere, wenn eine oder mehrere der folgenden Erkrankungen/Beschwerden/Eingriffe bekannt sind: (i) Herz-/Kreislauferkrankungen, (ii) Lungen- oder Atemwegserkrankungen (einschließlich Asthma), (iii) Wirbelsäulen und/oder Gelenkprobleme, (iv) neuromuskuläre Erkrankungen, (v) operative Eingriffe, (vi) andere gesundheitliche Einschränkungen.
    Das Training sollte nur nach Rücksprache mit einem Facharzt von schwangeren oder stillenden Müttern genutzt werden .
    Generell gilt: Achten Sie auf die Signale Ihres Körpers. Solltest Sie vor erstmaliger oder während der Nutzung irgendwelche Zweifel daran haben, dass Sie gesund sind (z.B. bei erheblichen Schmerzen, allgemeinem Unwohlsein, Kurzatmigkeit, Übelkeit oder Schwindel), konsultieren Sie einen Arzt bevor Sie beginnen oder fortfahen.</p>
  <h2>Kein Ersatz für ärztlichen Rat</h2>
    <p>Bei den im Rahmen dieses Eigenübungsprogramms angebotenen Leistungen und Informationen handelt es sich weder um eine medizinische noch eine ärztliche Beratung. Sie stellen auch keinen Ersatz für eine ärztliche Untersuchung oder Behandlung dar.</p>
  <h2>Trainingsmethoden</h2>
    <p>Fitness- und/oder Ernährungsberatung unterliegt sich ständig fortentwickelnden gesundheits-, ernährungs- und sportwissenschaftlichen Erkenntnissen. Auch wenn wir unsere Trainings und Ernährungstipps an aktuellen Studien und Erkenntnissen ausrichten, garantieren wir nicht, dass diese den jeweils aktuellsten Forschungsergebnissen oder Erkenntnissen entsprechen.</p>
</div>